/* ********* font section copied from source-sans-pro *********
** ****************************************************** */

/* *********** normal **************** */

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* *********** mono **************** */

@font-face {
    font-family: 'RobotoMono';
    src: url('RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('RobotoMono-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('RobotoMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('RobotoMono-MediumItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* *********** condensed **************** */

@font-face {
    font-family: 'RobotoCondensed';
    src: url('RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}


/* ****************************************************** */
